<ActionBar class="action-bar">
	<GridLayout columns="4*,*">
		<StackLayout col="0" class="m-y-auto">
			<Label text="My Courses" class="action-bar-custom"></Label>
		</StackLayout>
	</GridLayout>
	<ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
	ios.position="left">
</ActionItem>
<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
</ActionBar>


<GridView [items]="courses" colWidth="50%" rowHeight="{{rowHeight}}">
	<ng-template let-course="item" let-odd="odd">
		<StackLayout margin="10" borderColor="black" borderWidth="1" borderRadius="3" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd">
			<GridLayout rows="* auto" columns="*" class="list-group-item active" style="border:1;">
				<Image row="0" col="0" src="res://courseimg" stretch="aspectFill"></Image>
				<StackLayout row="1" col="0" backgroundColor="white" class="list-group-item">
					<Label class="text-center set-dark" fontSize="15" [text]="course?.courseName"></Label> 
				 <StackLayout class="hr-light m-t-3 m-x-30"></StackLayout>
					<Button text="Play" fontSize="11" class="btn btn-primary btn-active btn-rounded-lg m-t-4" (tap)="gotoPlaylist(course?.Videos,course?.courseName)"></Button> 
				</StackLayout>
			</GridLayout>
		</StackLayout>
	</ng-template>
</GridView>


<!-- 		<ListView class="list-group" [items]="courses" (itemTap)="onItemTapFirstList($event)" separatorColor="transparent">
	<ng-template let-course="item">
		<GridLayout rows="* auto" columns="*" class="list-group-item active" style="border:1;">
			<Image row="0" col="0" src="res://courseimg"></Image>
			<StackLayout row="1" col="0" backgroundColor="white" class="list-group-item">
                <Label class="list-group-item-heading m-b-3" fontSize="20" [text]="course?.courseName"></Label>  <StackLayout class="hr-light m-t-3"></StackLayout>
                <Button text="Play" fontSize="11" class="btn btn-primary btn-active btn-rounded-lg m-t-4" (tap)="gotoPlaylist(course?.Videos,course?.courseName)"></Button> 
            </StackLayout>
				</GridLayout>
			</ng-template>
		</ListView> -->

		
		<ActivityIndicator [busy]="isLoading" verticalAlignment="center" [visibility]="isLoading ? 'visible' : 'collapse'"></ActivityIndicator>