
<WebView #web src='<html><body><iframe frameborder="0" width="100%" height="100%" src="https://www.dailymotion.com/embed/video/x5i79t0" allowfullscreen allow="autoplay" autoplay="true"></iframe></body></html>'></WebView>

<!-- <StackLayout verticalAlignment="top" isUserInteractionEnabled="false" >
	<Button  width="100%" style="opacity:0;" height="20%" isEnabled="false" class="disabled"></Button>
</StackLayout>
<Button  horizontalAlignment="right"  isEnabled="false" class="disabled text-right" style="opacity:0;" width="10%" height="100%"></Button> -->
