


<GridLayout  #grid [rows]="setRows">
	<StackLayout row="0" style="padding-left: 5; padding-right: 5;">
	<VideoPlayer
	[src]="vr" (playbackReady)="callonReady()"
	autoplay="true" fill="true"
	setVolume="1" width="100%"></VideoPlayer>
</StackLayout>

	<Button *ngIf="!showFullscreen && !showDemo" row="1" text="Fullscreen  &#xf0b2;" (tap)="setFullscreen()" class="btn btn-primary m-x-auto fa"></Button>

	<GridLayout *ngIf="!showFullscreen && !showDemo" row="2" columns="*,auto" class="m-x-20">
		<TextField col="0" fontSize="14" hint="Enter Comment Here" #comment="ngModel" [(ngModel)]="Info.comment" borderRadius="50" class="p-5 m-x-10 set-comment"></TextField>
		<Button col="1" text="&#xf1d8;" width="11%" class="bg-success fa btn-rounded-lg" color="white" (tap)="displayComment(Info)"></Button>
	</GridLayout>
</GridLayout>

<Button *ngIf="showFullscreen" horizontalAlignment="right" verticalAlignment="top" class="btn btn-primary m-x-auto m-y-auto" text="Back" (tap)="goBack()"></Button>


<ActivityIndicator [busy]="isLoading" verticalAlignment="center" [visibility]="isLoading ? 'visible' : 'collapse'"></ActivityIndicator>
