

<ActionBar class="action-bar">
	<GridLayout columns="4*,*">
		<StackLayout col="0" class="m-y-auto">
			<Label [text]="title" class="action-bar-custom"></Label>
		</StackLayout>
	</GridLayout>
	<ActionItem icon="" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
	ios.position="left">
</ActionItem>
<NavigationButton ios:visibility="collapsed" icon="res://ic_arrow_back_white_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>


	<ListView class="list-group" [items]="courseData" separatorColor="#e0e0e0">
	<ng-template let-course="item">
		<GridLayout rows="auto" columns="*" class="p-5 set-list" backgroundColor="#e0e0e0" (tap)="openPlayer(course?.videUrl)">
			<GridLayout row="0"  columns="auto,*" class="p-5" col="0" backgroundColor="white">
			<Image col="0" width=55 height=55 borderRadius="50" class="p-5" stretch="aspectFill"  src="res://courseimg"></Image>
				<StackLayout col="1">
				<Label class="set-dark p-5 p-t-10" fontSize="16" textWrap="true" text="{{course?.title}}"></Label>
			</StackLayout>
		</GridLayout>     
				</GridLayout>
			</ng-template>
		</ListView>


