

<ActionBar class="action-bar">
	<GridLayout columns="4*,*">
		<StackLayout col="0" class="m-y-auto">
			<Label [text]="title" fontSize="18"></Label>
		</StackLayout>
	</GridLayout>
	<NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView>
	<StackLayout>
		<ListView height="150" [items]="courseData" class="list-group">
			<ng-template let-course="item" let-i="index" let-odd="odd" let-even="even">
				<GridLayout columns="auto,auto" class="list-group-item" (tap)="openPlayer(course?.videUrl)">
					<Label col="0" text="&#xf16a;" fontSize="20" class="fa text-danger" (tap)="openPlayer(course?.videUrl)"></Label>
					<Label col="1" [text]="course?.title" textWrap="true" width="90%" (tap)="openPlayer(course?.videUrl)" class="p-l-5 m-l-5"></Label>
				</GridLayout>
			</ng-template>
		</ListView>
	</StackLayout>
</ScrollView>

