
<ActionBar class="action-bar">
	<GridLayout columns="4*,*">
		<StackLayout col="0" class="m-y-auto">
			<Label text="Profile Section" class="action-bar-custom"></Label>
		</StackLayout>
	</GridLayout>
	<NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>


<TabView id="tabViewContainer">
	<StackLayout *tabItem="{title: 'Profile'}">
		<ScrollView>
			<GridLayout *ngIf="!showPassword" rows="auto,auto,auto,auto,auto,*">
				<StackLayout row="0" class="m-t-5 p-t-5 m-b-10">
					<Image width=100 height=100 borderRadius="50" stretch="aspectFill" src="res://courseimg"></Image>
					<Button text="Add Photo" fontSize="12" class="btn btn-primarylight btn-active btn-rounded-lg m-x-auto"></Button> 
				</StackLayout>

				<GridLayout row="1">
					<GridLayot row="0" columns="auto,*" class="m-x-30">
						<StackLayout col="0" class="p-20">
							<Label text="&#xf007;  " class="fa" fontSize="16"></Label>
						</StackLayout>
						<TextField col="1" hint="Enter Your Name" #name="ngModel" [(ngModel)]="personalInfo.name" class="m-x-30 p-l-20" required></TextField> 
						<StackLayout *ngIf="name.invalid && name.touched" class="text-danger m-b-10">
							<Label col="1" *ngIf="name.errors?.required && name.touched" text="Name is required" class="m-l-30 p-l-25 p-b-20"></Label>
						</StackLayout>
					</GridLayot>
				</GridLayout> 

				<GridLayout row="2">
					<GridLayot row="0" columns="auto,*" class="m-x-30">
						<StackLayout col="0" class="p-20">
							<Label text="&#xf10b; " class="fa" fontSize="23"></Label>
						</StackLayout>
						<TextField col="1" hint="Enter Mobile Number" #mobile="ngModel" [(ngModel)]="personalInfo.mobile" class="m-x-30 p-l-20" required [pattern]="mobilepattern"></TextField> 
						<StackLayout *ngIf="mobile.invalid && mobile.touched" class="text-danger m-b-10">
							<Label col="1" *ngIf="mobile.errors?.required && mobile.touched" text="Mobile no. is required" class="m-l-30 p-l-25 p-b-20"></Label>
							<Label col="1" *ngIf="mobile.errors?.pattern && mobile.touched" text="Enter valid mobile no." class="m-l-30 p-l-25 p-b-20"></Label>
						</StackLayout>
					</GridLayot>
				</GridLayout>

				<GridLayout row="3">
					<GridLayot row="0" columns="auto,*" class="m-x-30">
						<StackLayout col="0" class="p-20">
							<Label text="&#xf0e0; " class="fa" fontSize="14"></Label>
						</StackLayout>
						<TextField col="1" hint="Enter Your E-mail" #email="ngModel" [(ngModel)]="personalInfo.email" class="m-x-30 p-l-20" editable= "false"></TextField> 
					</GridLayot>
				</GridLayout>


				<GridLayout row="4">
					<Button text="Update" [isEnabled]="name.valid && mobile.valid" class="btn btn-primary btn-active btn-rounded-lg m-t-4 m-x-15" (tap)="onSubmit(personalInfo)"></Button> 
				</GridLayout>

				<StackLayout row="5" class="m-y-5" (tap)="changePassword()">
					<Label text="&#xf023; Change Password" fontSize="16" class="fa text-primary text-center p-20"></Label>
				</StackLayout>			
			</GridLayout>

			<StackLayout *ngIf="showPassword" class=" m-x-15 m-y-auto">
				<GridLayout rows="30, auto,auto" marginBottom="5">
					<TextField row="1" hint="&#xf023; Enter Current Password" secure="true" class="fa" #oldPassword="ngModel" [(ngModel)]="passwordInfo.oldPassword" borderBottomWidth="2" borderBottomColor="#A9A9A9" padding="2" name="oldPassword" minlength="8" returnKeyType="next" required></TextField>
					<StackLayout row="2" *ngIf="oldPassword.invalid && oldPassword.touched" class="text-danger">
						<Label *ngIf="oldPassword.errors?.required && oldPassword.touched" text="Old Password is required"></Label>
						<Label *ngIf="oldPassword.errors?.minlength && oldPassword.touched" text="Your password must include at least 8 characters"></Label>
					</StackLayout>
				</GridLayout>

				<GridLayout rows="30, auto,auto" marginBottom="5">
					<TextField  row="1" hint="&#xf023; Enter New Password" secure="true" class="fa" #newPassword="ngModel" [(ngModel)]="passwordInfo.newPassword" borderBottomWidth="2" borderBottomColor="#A9A9A9" padding="2" name="newPassword" (textChange)="onNewPassword($event)" returnKeyType="next" required minlength="8"></TextField>
					<StackLayout row="2" *ngIf="newPassword.invalid && newPassword.touched" class="text-danger">
						<Label *ngIf="newPassword.errors?.required && newPassword.touched" text="New Password is required"></Label>
						<Label *ngIf="newPassword.errors?.minlength && newPassword.touched" text="Your password must include at least 8 characters"></Label>
					</StackLayout>
				</GridLayout>

				<GridLayout rows="30, auto,auto" marginBottom="5">	
					<TextField  row="1" #confirmNewPassword="ngModel" hint="&#xf023; Enter Confirm Password"  class="fa" [(ngModel)]="passwordInfo.confirmNewPassword" borderBottomWidth="2" borderBottomColor="#A9A9A9" padding="2" (textChange)="onconfirmNewPassword($event)" name="confirmNewPassword" returnKeyType="done" required minlength="8"></TextField> 
					<StackLayout row="2" *ngIf="matchpass" class="text-danger">
						<Label text="New and Confirm Password didn't match"></Label>
					</StackLayout>
				</GridLayout>


				<StackLayout class="p-t-10">
					<Button text="UPDATE" class="btn btn-primary btn-active btn-rounded-lg" [isEnabled]="oldPassword.valid && newPassword.valid && confirmNewPassword.valid && !matchpass" (tap)="onPasswordSubmit(passwordInfo)"></Button> 
				</StackLayout>
				<StackLayout class="m-y-5" (tap)="changePassword()">
					<Label text="&#xf007; Profile" fontSize="16" class="fa text-primary text-center p-20"></Label>
				</StackLayout>
			</StackLayout>
		</ScrollView>
	</StackLayout>

	<!-- tab layout for address start here -->
	<StackLayout *tabItem="{title: 'Address'}">
		<StackLayout>
			<ScrollView>
				<GridLayout rows="auto,auto,auto,auto,auto,auto,auto,*" class="m-t-5">
					<GridLayout row="1">
						<GridLayot row="0" columns="auto,*" class="m-x-30">
							<StackLayout col="0" class="p-20">
								<Label text="&#xf024;  " class="fa" fontSize="16"></Label>
							</StackLayout>
							<TextField col="1" hint="India" style="placeholder-color:black;" text="India"  editable= "false"  #country="ngModel" [(ngModel)]="India" class="m-x-30 p-l-20"></TextField>
						</GridLayot>
					</GridLayout>

					<GridLayout row="2">
						<GridLayot row="0" rows="auto,auto" columns="auto,*" class="m-x-30">
							<StackLayout col="0" class="p-20">
								<Label text="&#xf124; " class="fa" fontSize="14"></Label>
							</StackLayout>
							<TextField row="0" col="1" hint="Enter Your State" #state="ngModel" [(ngModel)]="addressInfo.state" class="m-x-30 p-l-20"></TextField> 
							<StackLayout row="1" col="1" *ngIf="state.invalid && state.touched" class="text-danger p-l-25">
								<Label *ngIf="state.errors?.required && state.touched" text="State is required"></Label>
								<Label *ngIf="state.errors?.minlength && state.touched" text="State must include at least 2 characters"></Label>
								<Label *ngIf="state.errors?.maxlength && state.touched" text="State can be of max 50 characters"></Label>
							</StackLayout>

						</GridLayot>
					</GridLayout>

					<GridLayout row="3">
						<GridLayot row="0" rows="auto,auto" columns="auto,*" class="m-x-30">
							<StackLayout col="0" class="p-20">
								<Label text="&#xf015; " class="fa" fontSize="17"></Label>
							</StackLayout>
							<TextField col="1" hint="Enter Your City" #city="ngModel" [(ngModel)]="addressInfo.city" class="m-x-30 p-l-20"></TextField> 
						</GridLayot>
					</GridLayout>

					<GridLayout row="4">
						<GridLayot row="0" rows="auto,auto" columns="auto,*" class="m-x-30">
							<StackLayout col="0" class="p-20">
								<Label text="&#xf276; " class="fa" fontSize="17"></Label>
							</StackLayout>																		
							<TextField col="1" hint="Enter Pin Code" #pincode="ngModel" [(ngModel)]="addressInfo.pincode" class="m-x-30 p-l-20"></TextField> 
						</GridLayot>
					</GridLayout>

					<GridLayout row="5">
						<GridLayot row="0" rows="auto,auto" columns="auto,*" class="m-x-30">
							<StackLayout col="0" class="p-20">
								<Label text="&#xf041; " class="fa" fontSize="17"></Label>
							</StackLayout>
							<TextField col="1" hint="Enter Your Address"  #address="ngModel" [(ngModel)]="addressInfo.address" class="m-x-30 p-l-20"></TextField> 
						</GridLayot>
					</GridLayout>

					<GridLayout row="6">
						<Button text="Update" [isEnabled]="state.valid && city.valid && pincode.valid && address.valid"  class="btn btn-primary btn-active btn-rounded-lg m-t-4 m-x-15" (tap)="onSubmitAddress(addressInfo)"></Button> 
					</GridLayout>			
				</GridLayout>
			</ScrollView>
		</StackLayout>
	</StackLayout>
</TabView>

<ActivityIndicator [busy]="isLoading" verticalAlignment="center" [visibility]="isLoading ? 'visible' : 'collapse'"></ActivityIndicator>