// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
    padding: 40px;
}
.btn-primarylight{
background-color:#0fbcf9;
color:white;
}

.bg-primarylite{
background-color:#0fbcf9;	
}

.bg-success{
background-color:#05c46b;
}

.action-bar-custom{
font-weight:bold;
font-size:18;
}

.set-url{
text-decoration:underline;
color: blue;
}

.set-dark{
color: black;
}
